@import "formul";

.footer {
    width: 100%;
    height: auto;
    background: rgba(32, 32, 32, 1);
    //border-top: 1px solid #555151;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 99;
    &__container {
    }
    &__info {
        padding: 40px 0px 40px 0px;
        //max-width: 761px;
        //border-top: 1px solid #CBCBCB;
        @media (max-width: $md1){
            text-align: center;
        }
        span {
            font-family: "Inter";
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: #e0e0e0;
        }
        a {
            font-family: "Inter";
            font-style: normal;
            background-color: rgba(29, 152, 220, 1);
            font-size: 20px;
            line-height: 24px;
            font-weight: 700;
            background-image: linear-gradient(90deg, #0a40ff 1.65%, #826dff 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}
